@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0B2E27; /* Dark Green Text */
  --primary: #41DAC1; /* Mint/Teal */
  --secondary: #0B2E27; /* Dark Forest Green */
  --muted: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
